body{background: skyblue; font-family: Verdana; color: snow; padding: 30px};
h1{font-size: 48px; text-transform: capitalize; letter-spacing: 2px; text-align: center};
p{font-size: 30px; text-align: center};
        