<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stuff/styles.css" rel = "stylesheet" type=" text/css ">
    </head>
    <body>
            <% include partials/nav.ejs %>
        <h1> Welcome to my awesome website</h1>
        <p>
            Let's get started!
        </p>
    </body>
</html>